*{
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, rgba(81, 11, 114, 0.822), #01023a, rgb(93, 11, 114));
}


header {
    width: 100%;
    margin-bottom: 30px;
    background-color: #e0e0f55d;
    border: 2px solid #000000;
    border-radius: 8px;
    justify-content: center;
}

#logoapenasumshow{
  display: block;     
  margin: 0 auto; 
  padding-right:auto ;
  inset-block-start: auto ;
  height: 100px;
  
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none; 
  padding-top: 0%;
  margin: 0%;
  top: 0%;
  background-color: #4f40791a;
}

nav li {
  background-color: #4f40791a;
  display: inline-block;
}

nav a {
  display: block; 
  padding: 10px;
  text-decoration: none; 
}

nav a:hover {
  background-color: #dddddd42; /* Cor de fundo ao passar o mouse */
  color: #000; /* Cor do texto ao passar o mouse */
}

.conteudo {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background-color: #e0e0f55d;
    border: 2px solid #000000;
    border-radius: 8px;
    justify-items: center;
}

.quadrado{
  display: flex;
  justify-items: center; 
  margin: 20px;
  padding: 10px;
  border: #000 solid 2px;
  max-width: 50%;
  
}
 .ftpersonagem{
  width: 200px;
  height: 250px;
  margin: 15px;
  background-color: #0000001e;
  border: #000 solid 2px;
 }

footer {
  width: 100%;
  margin-top: 30px;
}

.conteudofooter {
  width: 100%;
  background-color: #e0e0f55d;
  border: 2px solid #000000;
  border-radius: 8px;

  display: flex;                  
  justify-content: space-between; 
  align-items: center;            
  padding: 10px 20px;
}

#footerlogo {
  height: 100px; 
  display: block;
}

#copyright {
  font-size: 14px;
  color: white;
  margin: 0; 
}
